{{#extends 'base'}}
{{#block "content"}}

<h1>All Food List</h1>

<table class="table">
     <a href="/food/add" class="btn btn-success">Add new food</a>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Calories</th>
            <th>Tags</th>
            <th></th>
        </tr>
        {{#each foodRecords}}
         <tr>
            <td>{{this._id}}</td>
            <td>{{this.foodName}}</td>
            <td>{{this.calories}}</td>
            <td>{{join this.tags ", "}}</td>

                  <td>
                    
                    <a href="/food/{{this._id}}/edit" class="btn btn-primary">Edit</a>
                    <a href="/food/{{this._id}}/delete" class="btn btn-danger">Delete</a>
                   
                </td>

         </tr>   
        {{/each}}
    </thead>

</table>

{{/block}}
{{/extends}}

